{% extends "base.html" %}
{% block content %}
<form class="form-horizontal" method="post" action="{% url 'sounds:create_frequencykit' %}">
  {% csrf_token %}
  <div style="margin-top: 24px;">

    <h2>
      Create Single-Sound Kit
    </h2>

    <div class="row" style="margin-top: 12px;">
      <div class="col">
        <input id="title" class="form-control" type="text" name="title" value="" placeholder="Title" />
      </div>
    </div>

    <div class="row" style="margin-top: 24px;">
      <div class="col">
        <h5>
          Map Frequencies to Keys
        </h5>
        
        <a href="https://github.com/darrendahl/sono.ly/blob/master/frequency-chart.png" target="_blank">See frequency chart</a>
        {% for key_code in key_codes %}
          <div class="row form-group" style="margin: 24px 0;">
            <div class="col">
              {{key_code.title}}
              {{key_code.code}}
            </div>
            <div class="col">
              <input type="number" name="keycode_{{key_code.id}}" step="any" /> 
            </div>
          </div>
        {% endfor %}
       </div>
    </div>
    <p>
      <input class="btn btn-primary" type="submit" name="submit" value="Submit" />
    </p>
  </div>
</form>
{% endblock %}