{% extends "base.html" %}
{% block content %}
<div>
  <h2>Frequencykit {{frequencykit.title}}</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Key Code</th>
        <th>Frequency</th>
      </tr>
    </thead>
    <tbody>

      {% for skc in frequencykit.frequency_key_codes.all %}
        <tr>
          <td>{{ skc.key_code.title }} {{ skc.key_code.code }}</td>
          <td>{{ skc.frequency }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr>
  <a class="btn btn-primary" href="{% url 'sounds:frequencykit' %}" role="button">Update Kit</a>
{% endblock %}